html {
	height: 100%;
}
body {
	padding-top: 70px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	background-color: #456575;
	color: #f5f5f5;
}
.navbar-brand{
	width: 200px;
}
#navicon {
	margin: auto;
	max-height: 25px;
	max-width: 23px;
	padding-bottom:3px;
}
.navbar-dark{
	background-color: #202929;
}
.navbar-dark .navbar-nav>li>a {
	color: #f5f5f5;
}
.navbar-dark .navbar-brand {
	color: #f5f5f5;
}
#sig-border {
	width: 200px;
	margin: auto auto 50px auto;
	padding: 5px;
	border: 5px solid white;
}
#sig {
	width: 180px;
}
h1 {
	font-weight: 700;
}
p {
	font-size: 1.2em;
}
.S1 {
	background-color: #f5f5f5;
	color: #456575;
}
.S1M .bio-image{
	height: auto;
	max-width: 100%;
}
.S1T {
	padding-top: 20px;
	padding-right: 30px;
}
.S2 {
	background-color: #f5f5f5;
	color: #456575;
}
footer {
	background-color: #202929;
}

